@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family:outfit;
}

::-webkit-scrollbar{
  width:0px;
}


.outfit-font {
font-family: "Outfit", serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}
.active {
  background-color: #ffebf5;
  border-color:#C586A5;
}